Hi,

This is {{ full_name }}.


{{ candidate_intro }}

If this isn’t relevant, no worries at all.

Best,
{{ full_name }}
{% if linkedin_url %}LinkedIn: {{ linkedin_url }}{% endif %}
Email: {{ candidate_email }}

---
To unsubscribe: {{ unsubscribe_link }}
